nimbus:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:nimbus
  command: bash /usr/bin/start-supervisor.sh
  restart: always
  ports:
    - "49773:3773"
    - "49772:3772"
    - "49627:6627"
    - "22"
  external_links: 
    - ${zk_link}
supervisor:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:supervisor
  labels: 
    io.rancher.container.dns: true
    io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
    io.rancher.container.hostname_override: container_name
  restart: always
  command: mkdir -p /var/run/sshd
  command: bash /usr/bin/start-supervisor.sh
  ports:
    - "8000"
    - "22"
  links: 
    - nimbus:nimbus
  external_links:
    - ${zk_link}
  volumes:
   - /usr/local/aeris_lib/:/usr/local/aeris_lib
ui:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:ui
  command: bash /usr/bin/start-supervisor.sh
  restart: always
  ports:
    - "49080:8080"
    - "22"
  links: 
    - nimbus:nimbus
  external_links:
    - ${zk_link}
  volumes:
   - /usr/local/aeris_lib/:/usr/local/aeris_lib
