nimbus:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:nimbus4
  command: bash /usr/bin/start-supervisor.sh
  restart: always
  ports:
    - "49773:3773"
    - "49772:3772"
    - "49627:6627"
    - "22"
  external_links:
    - ${zk_link}
    - ${HazelcastETL_link}
    - ${HazelcastNONETL_link}
    - ${Kafka_link}
    - ${RabbitMq_link}
  environment:
    - ZK_SERVICE=${zk_link}
    - HazelcastETL_SERVICE=${HazelcastETL_link}
    - HazelcastNONETL_SERVICE=${HazelcastNONETL_link}
    - Kafka_SERVICE=${Kafka_link}
    - RabbitMq_SERVICE=${RabbitMq_link}
  volumes:
    - /usr/local/aeris_lib/resources/:/usr/local/aeris_lib/resources
    - /usr/local/aeris_lib/storm/:/usr/local/aeris_lib/storm
supervisor:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:supervisor1
  labels: 
    io.rancher.container.dns: true
    io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
    io.rancher.container.hostname_override: container_name
  restart: always
  command: mkdir -p /var/run/sshd
  command: bash /usr/bin/start-supervisor.sh nimbus
  environment:
    - ZK_SERVICE=${zk_link}
  ports:
    - "8000"
    - "22"
  links: 
    - nimbus:nimbus
  volumes:
   - /usr/local/aeris_lib/resources/:/usr/local/aeris_lib/resources
ui:
  image: 035824440926.dkr.ecr.us-east-1.amazonaws.com/nrt/storm:ui1
  environment:
    - ZK_SERVICE=${zk_link}
  command: mkdir -p /var/run/sshd
  command: bash /usr/bin/start-supervisor.sh nimbus
  restart: always
  ports:
    - "49080:8080"
    - "22"
  links: 
    - nimbus:nimbus
  external_links:
    - ${zk_link}
  volumes:
   - /usr/local/aeris_lib/resources/:/usr/local/aeris_lib/resources
